.cart {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.cart-empty {
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
  padding: 100px;
}

.cart-items {
  background-color: #10375c;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.summary {
  background-color: rgb(19, 86, 148); /* Fondo azul */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;

  @media (max-width: 768px) {
    border-radius: 0;
  }
}

.summary .col {
  padding: 0;
}

.row {
  margin: 0;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  flex-wrap: nowrap; // Evitar el wrap
  overflow: hidden; // Ocultar desbordamiento
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;

  @media (max-width: 768px) {
    flex-wrap: nowrap; // Evitar el wrap en pantallas pequeñas
  }
}

.col-2,
.col-4,
.col-3 {
  padding: 0 1vh;
  flex: 1; // Asegurar que ocupen espacio igual
}

.back-to-shop {
  margin-top: 4.5rem;
  text-decoration: none;
  color: #000;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select,
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.prices {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #eb8317;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.btn {
  color: #f3c623;
  background-color: #10375c;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
  &:hover {
    color: #f3c623;
    background-color: #10375c;
  }
}

.btn-quantity {
  background-color: rgb(19, 86, 148); /* Fondo azul */
  color: #f3c623;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    color: #f3c623;
  }
}

.btn-proccess {
  color: #f3c623;
  background-color: #10375c;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    color: #f3c623;
    background-color: #10375c;
  }
}

.btn-hola {
  background-color: #10375c;
  color: #f3c623;
  border: none;
  border-radius: 10px;
  width: 50%;
  text-decoration: none;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    color: #f3c623;
    background-color: #10375c;
  }
}

.product-quantity {
  display: inline-block;
  width: 25px;
  text-align: center;
  font-size: 12px;
  color: #000;
  background-color: transparent;
  border: none;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
}

.icon-delete {
  color: #f3c623;
  cursor: pointer;
  font-size: 17px;
  transition: color 0.3s ease;

  &:hover {
    color: #000000;
  }
}

@media (max-width: 768px) {
  .icon-delete {
    display: none; // Ocultar el icono de basurero en pantallas pequeñas
  }
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 600;
}

.product-name {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
}

.product-category {
  font-size: 0.8rem;
  color: #888;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 400;
}
