.cart {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    border-radius: 0; // Sin bordes redondeados en pantallas pequeñas
  }
}

.cart-items {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;

  @media (max-width: 768px) {
    border-radius: 0; // Sin bordes redondeados en pantallas pequeñas
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);

  @media (max-width: 768px) {
    border-radius: 0; // Sin bordes redondeados en pantallas pequeñas
  }
}

.summary .col {
  padding: 0;
}

.row {
  margin: 0;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  flex-wrap: nowrap; // Evitar el wrap
  overflow: hidden; // Ocultar desbordamiento

  @media (max-width: 768px) {
    flex-wrap: nowrap; // Evitar el wrap en pantallas pequeñas
  }
}

.col-2, .col-4, .col-3 {
  padding: 0 1vh;
  flex: 1; // Asegurar que ocupen espacio igual
}

.back-to-shop {
  margin-top: 4.5rem;
  text-decoration: none;
  color: #000;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select, input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.prices{
  font-size: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff0019;
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn-quantity {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }
}

.btn-proccess {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #000000;
  }
}

.product-quantity {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 1rem;
  color: #000;
  background-color: transparent;
  border: none;
}

.icon-delete {
  color: red;
  cursor: pointer;
  font-size: 17px;
  transition: color 0.3s ease;

  &:hover {
    color: #000000;
  }
}

@media (max-width: 768px) {
  .icon-delete {
    display: none; // Ocultar el icono de basurero en pantallas pequeñas
  }
}


.col {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-name {
  font-weight: bold;
  font-size: 1rem;
}

.product-category {
  font-size: 0.8rem;
  color: #888;
}
