.card-detail {
    margin-bottom: 1rem; /* Añade un margen inferior */
}

.card-img {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: auto;
}

.h2{
    font-size: 30px;
}