/* Estilos generales para la página de detalle de producto */
.item-detail-bkg {
  background-color: #f8f9fa;
  padding: 2rem;
}


.item-detail-card {
  margin-bottom: 1rem;
  background-color: #10375c;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Imagen */
.item-detail-img {
  width: 100%;
  height: auto;
  border-radius: 10px !important;
  object-fit: cover;
}

/* Detalles del producto */
.item-detail-body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
}

.item-detail-title {
    color: #f3c623;
    font-size: 25px;
    font-weight: 500;
  margin-bottom: 1rem;
justify-content: center;}

.item-detail-description {
    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
  text-align: left; /* Alineación a la izquierda */
}

.item-detail-price {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #ffffff;
  text-align: left; /* Alineación a la izquierda */
}


.titulo-precio{
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}

.precio-precio{
    color: #f3c623;
    font-weight: 400;
    font-size: 20px;
}

/* Botón Agregar al carrito */
.item-detail-btn-cart {
  color: #10375c;
  background-color: #f3c623;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  gap: 10px;
  text-decoration: none;
}

/* Sección de cantidad */
.item-detail-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 50%;
  padding-top: 50px;

}

.item-detail-btn-quantity {
  background-color: #f3c623;
  color: #10375c;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.item-detail-product-quantity {
  font-size: 1.2rem;
  text-align: left; /* Alineación a la izquierda */
}

/* Enlace para volver a productos */
.back-to-shop {
  text-align: left;
  margin-top: 2rem;
}

.link-back {
  text-decoration: none;
  color: #f3c623;
}

@media (max-width: 768px) {
  .item-detail-card {
    padding: 1rem;
  }

  .item-detail-body {
    padding-left: 10px;
  }

  .item-detail-btn-cart {
    width: 100%;
  }
  
  /* Sección de cantidad */
  .item-detail-quantity {
    width: 100%;
    padding-top: 10px;
  }

}
