.ItemCard {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-family: "Dosis", sans-serif;
  border-radius: 5px;
  width: 100%;
}

.Card-image-container {
  position: relative;

  .Card-image {
    width: 100%;
    height: auto;
    display: block;
  }

  &.reserved {
    .Card-image {
      filter: brightness(50%); /* Oscurece la imagen */
    }
  }

  .reserved-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: #f3c623;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}


.ItemContent {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  font-family: "Dosis", sans-serif;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 18rem;
  margin: 0px auto;
}

.Card-image-container {
  overflow: hidden;
}

.Card-image {
  width: 100%;
  object-fit: cover;
}

.Card-body {
  padding: 10px 20px !important;
  background-color: rgb(19, 86, 148); /* Fondo azul */
}

.titulo {
  margin-bottom: 0px;
  color: #f3c623;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.precio {
  margin-bottom: 0px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
}

.precio-text {
  color: #ffffff; /* Color para el texto "Precio:" */
  margin-right: 5px; /* Espacio entre "Precio:" y el monto */
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.monto-text {
  color: #f3c623; /* Color para el monto */
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.btn-add {
    color: #10375C;
    background-color: #f3c623;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    gap: 10px;
    text-decoration: none;
}



.btn-detail {
    color: #ffffff !important;
    background-color: #10375C;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    gap: 10px;
    text-decoration: none !important;
}

@media (max-width: 1200px) {
  .ItemContent {
    max-width: 16rem;
  }
}

@media (max-width: 992px) {
  .ItemContent {
    max-width: 14rem;
  }
}

@media (max-width: 768px) {
  .ItemContent {
    max-width: 100%;
  }

  .Card-body {
    padding: 0.5rem;
  }
}
