.ItemCard {
    display: flex;
    justify-content: center; /* Centra la tarjeta en el contenedor */
    margin: 20px 0;
    font-family: 'Trebuchet MS';
    width: 100%;
}

.ItemContent {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
    width: 100%;
    max-width: 18rem;
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
}

.Card-image-container {
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

.Card-image {
    width: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

.Card-body {
    padding: 1.25rem; /* Espaciado del cuerpo de la tarjeta */
}

@media (max-width: 1200px) {
    .ItemContent {
        max-width: 16rem; /* Ajusta el ancho máximo para pantallas medianas */
    }
}

@media (max-width: 992px) {
    .ItemContent {
        max-width: 14rem; /* Ajusta el ancho máximo para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .ItemContent {
        max-width: 100%; /* La tarjeta ocupa el ancho completo en pantallas pequeñas */
    }

    .Card-body {
        padding: 0.5rem; /* Reduce el padding en pantallas pequeñas */
    }
}
