.ItemCard{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 1px;
    margin-top: 0px;
    font-family:'Trebuchet MS';
    }

.ItemContent {
    display: gap;
    font-size: 12px;
}

.Card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.Button {
    bottom: 0%;
    font-size: 12px;
}
