/* CartWidget.scss */
.custom-cart-icon {
    color: #c81c1c;     /* Cambia el color aquí */
    font-size: 24px; /* Cambia el tamaño aquí */
}

.cart-icon {
    color: #c81c1c; // Cambia 'blue' al color que desees
    font-size: 24px; // Cambia el tamaño si es necesario
  }

  