.cart-widget {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cart-icon {
  color: #F3C623; 
  font-size: 25px; 
}

.cart-number {
  color: #F3C623; /* Color del texto */
  font-size: 10px; 
  border-radius: 50%; /* Esto hace que el elemento sea un círculo */
  background-color: rgb(19, 86, 148); /* Color de fondo del círculo */
  width: 15px; /* Ancho del círculo */
  height: 15px; /* Alto del círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px; /* Espacio entre el ícono y el número */
  text-decoration: none; 
  font-family: 'Trebuchet MS';
}
