.custom-toast {
    background-color: #000000; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    font-family: "Dosis", sans-serif;
  }
  
  .custom-toast-error {
    background-color: rgb(19, 86, 148); /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    font-family: "Dosis", sans-serif;
  }
  
  .custom-toast-success {
    background-color: rgb(19, 86, 148); /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    font-family: "Dosis", sans-serif;
  }