.carrousel-container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px; // Bordes redondeados para el contenedor
  overflow: hidden; // Para asegurar que las imágenes no se salgan del contenedor
}

.carousel-item {
  text-align: center; 
  position: relative; // Permite colocar elementos en capas
}

.carousel-item img {
  max-width: 100%; 
  height: auto; 
  margin: 0 auto; 
  transition: transform 0.5s ease; // Transición suave al cambiar
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); // Sombra más pronunciada
}

.carousel-item img:hover {
  transform: scale(1.05); // Efecto de zoom al pasar el mouse
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); // Fondo semi-transparente
  border-radius: 10px;
  padding: 20px; // Más espacio alrededor del texto
  bottom: 20px; // Posicionar más cerca de la parte inferior
}

.carousel-item h5 {
  color: #ffffff;
  font-size: 1.5rem; // Aumentar tamaño de fuente
}

@media (max-width: 768px) {
  .carousel-item img {
    max-width: 100%; 
  }

  .carousel-item h5 {
    font-size: 1rem;
  }
}
