.carousel-item {
    text-align: center; 
    background-color: #c81c1c;
    font-family:'Trebuchet MS';
  }


.carousel-item img {
  max-width: 600px; 
  height: auto; 
  margin: 20px auto; 
  border-radius: 30px;
}

.carousel-item h5 {
  max-width: 600px; 
  margin: 20px auto; 
  background-color: #c81c1c;
  color: #000000;
}