@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(19, 86, 148); /* Fondo azul */
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 10px;
}

.text-section {
  flex: 1;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  padding: 0px 0px;
  margin: 0px;
}

h1 {
  font-size: 80px;
  margin-bottom: 1rem;
  font-family: "Dosis", sans-serif;
  color: #f3c623;
  font-weight: 600;
}

p {
  font-size: 20px;
  margin-bottom: 1.5rem;
  font-family: "Dosis", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-primar,
.btn-secondar {
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn-primar {
  color: #ffffff;
  background-color: #10375c;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.btn-secondar {
  color: #10375c;
  background-color: #f3c623;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  min-height: auto;
  padding: 30px;
    
  }
  .image-section{
    width: 250px;
  }
  .text-section {
    text-align: center;
  }

  .buttons {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 60px;
    margin-bottom: 1rem;
    font-family: "Dosis", sans-serif;
    color: #f3c623;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    margin-bottom: 1.5rem;
    font-family: "Dosis", sans-serif;
    color: #ffffff;
    font-weight: 300;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
  }
}
