* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #000000;
    padding: 5px 10px;

    .header_container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
            padding: 5px 10px;
            flex-direction: row;
        }
    }

    .header_logo {
        width: 60px;
        height: 40px;

        @media (max-width: 768px) {
            // Opcional: ajustes específicos para pantallas pequeñas si es necesario
        }
    }

    .header_toggle {
        display: none;
        background-color: #00000053;
        border: none;
        font-size: 15px;
        color: #ff0000;
        cursor: pointer;
        z-index: 2; // Asegúrate de que el botón esté por encima del menú desplegable

        @media (max-width: 768px) {
            display: block;
        }

        .header_toggle-icon {
            font-size: 30px;
        }
    }

    .header_nav {
        display: flex;
        align-items: center;
        gap: 5px;
        z-index: 1; // Asegúrate de que el contenido del menú esté por encima del fondo
        background-color: #0000006f;


        @media (max-width: 768px) {
            display: none;
            flex-direction: column;
            background-color: #000000;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0px; // Ajuste de padding
            z-index: 1; // Asegúrate de que el menú desplegable esté por encima del contenido
        }

        &.open {
            display: flex;
            background-color: #000000;
            color: #ff0000;
        }

        .header_link {
            color: #ff0000;
            font-size: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Trebuchet MS';

            @media (max-width: 768px) {
                font-size: 15px;
                padding: 0px;
                color: #ff0000;
            }
        }

        .custom-dropdown {
            font-size: 15px;
            font-family: 'Trebuchet MS';
            color: #ff0000;


            .dropdown-menu {
                background-color: #ffffff;
                font-size: 15px;
                font-family: 'Trebuchet MS';
                border: none; // Evitar borde por defecto
                box-shadow: none; // Eliminar sombra
                position: static; // Asegurar que el menú desplegable sea estático en pantallas pequeñas

                @media (max-width: 768px) {
                    position: static; // Mantener posición estática en pantallas pequeñas
                    
                }
            }

            .dropdown-item {
                color: #ff0000;

                &.active,
                &:hover {
                    background-color: #ff0000;
                    color: #fff;
                }
            }
        }
    }

    .cart_widget {
        order: 3; 
    }
}