.footer-container {
  background-color: #000;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 0px 0px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.footer-box {
  flex-basis: 30%;
  margin-bottom: 20px;
  text-align: left;
}

.footer-box h2 {
  color: #ff0000;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-box p {
  color: #fff;
  margin-bottom: 15px;
}

.social-media {
  display: flex;
  gap: 18px;
  text-decoration: none;
}

.social-media a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  color: #ff0000;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  transition: transform 0.5s ease;
  
}

.social-media a:hover {
  transform: scale(1.1);
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.form-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.btn-news {
  background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-news:hover {
  background-color: #ffffff;
  color: #ff0000;
}

.footer-bottom {
  background-color: #ff0000;
  padding: 15px;
  color: #191919;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .footer-box {
    flex-basis: 100%;
    text-align: center;
  }

  .social-media {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-box h2 {
    font-size: 1.25rem;
  }

  .btn-submit {
    font-size: 0.9rem;
  }
}
