/* ItemCount.scss */
.button-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espaciado entre los grupos de botones */
  justify-content: center; /* Centra el contenido en el contenedor */
  margin-top: 1rem;
}

.btn-custom-black {
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-custom-black:hover {
  background-color: red;
  color: white;
}
